@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

    html, body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #329648 !important;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 3rem;
        background-color: white !important;
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4.5rem; 
        background-color: #329648 !important;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: lightgray;
    }

    .content {
        padding-top: 50px;
        margin:10px;
        margin-bottom:100px;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .card {
        background: whitesmoke;
        color: black;
        margin-bottom: 2rem;
        border: 1px solid lightgray;
    }


    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: #A22029 !important;
        padding-top: 15px;
        padding-bottom:15px;
        padding-left:0px;
        list-style: none !important;
    }

    .validation-errors {
        background-color: #F8D7DA;
        color: #A22029 !important;
        border-radius: 5px;
        border: 1px solid #F5C2C7;
        list-style:none !important;
        padding-left:15px;
    }

    .form-container {
        padding: 10px;
        margin-bottom: 30px;
        margin-top:30px;
    }

    .form-control.invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
    }

        .form-control.invalid:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }

    textarea.form-control.invalid {
        padding-right: calc(1.5em + 0.75rem);
        background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
    }

    .form-check-input.invalid ~ .form-check-label {
        color: #dc3545;
    }

    .form-check-input.invalid ~ .validation-message {
        display: block;
    }