  <!-- Site footer -->
<footer id="footer" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    This application is a test project for the company IOsoft AB.  I tried to develop all the possibilities requested from the instruction file.
                    This app is a solution for Anna.  She is running a business where she sells lemonade at the stand, and some parts of app are just the developer's imagination.
                    This application is developed in one week. There is a high possibility of instability and errors. If you see any, please report them to the development address at contact@milenkoraic.me.
                </p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Technologies</h6>
                <ul class="footer-links">
                    <li>C#</li>
                    <li>.NET</li>
                    <li>Blazor Web Assembly</li>
                    <li>Bootstrap</li>
                    <li>Font Awasome</li>
                    <li>UI Design</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Featured</h6>
                <ul class="footer-links">
                    <li>Dependency Injection</li>
                    <li>xUnit Testing Framework</li>
                    <li>Fake API</li>
                    <li>S O L I D Principles</li>
                    <li>Clean Architecture</li>
                    <li>Clean Code</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container" style="padding-bottom:100px;">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2022. Healthy & Juicy AB | All Rights Reserved.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="dribbble" href="https://github.com/milenkoraic" target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-github"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/milenkoraic/" target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>