.page-header {
    padding-top: 60px;
}

.header-cover {
    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/appcover.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    padding-top: 60px;
}


