@inherits LayoutComponentBase
<div id="page-container">
    <NavMenu></NavMenu>
    <div id="content-wrap">
        <Header></Header>
        <main class="content container">
            @Body
        </main>
    </div>
    <Footer></Footer>
</div>

